html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  img,
  svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  
  button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font: inherit;
    color: inherit;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul,
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
  fieldset,
  input {
    margin: 0;
    padding: 0;
    border: 0;
  }
body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb)) ) rgb(var(--background-start-rgb));
    margin: 0;
    line-height: inherit;
    font-family: 'Forum', cursive;
    font-family: 'Inter', sans-serif;
  }
.body__container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    opacity: 1;
    background-color: #0C0C0E;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 90px;
    display: flex;
    position: relative;
}
.header__h1 {
    opacity: 1;
    color: rgb(255 255 255);
    letter-spacing: 0.6px;
    line-height: 50px;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Forum';
    padding-left: 20px;
    padding-right: 20px;  
}
.nav__container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.nav__container svg {
    fill: #FFF;
    transition: all 0.5s ease-out;
}
.nav__container svg:hover {
    fill: #BB945F;
}
.nav {
    gap: 40px;
    justify-content: space-between;
    display: flex;
}
.nav__ul {
    gap: 30px;
    justify-content: space-between;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav_a {
    opacity: 1;
    color: rgb(255 255 255);
    line-height: 50px;
    font-size: 20px;
    transition: all 0.5s ease-out;
}
.nav_a:hover{
    color: #BB945F;
}
.nav_b {
    opacity: 1;
    color: rgb(255 255 255);
    line-height: 50px;
    font-size: 20px;
    transition: all 0.5s ease-out;
}
.nav_b:hover{
    color: #BB945F;
}
.nav__img {
    cursor: pointer;
    display: block;
    margin-left: 40px;
    color: inherit;
    text-decoration: inherit;
    transition: all 0.5s ease-out;
    position: relative;
}
.nav__img p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #BB945F;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.menu__registr {
    position: absolute;
    z-index: 20;
    width: 80px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    right: 20px;
    animation: showBlock 1s linear forwards;
}
@keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.modal__wrapper {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(142,142,142,0.5);
}
.modal__wrapper-clear {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.registr__container {
    position: fixed;
    z-index: 20;
    width: 250px;
    height: 382px;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login__container h3,
.registr__container h3{
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.registr__label {
    color: #000;
    text-align: start;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.3px;
}
.registr__input {
    width: 200px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid #BB945F;
    margin: 10px 0px;
}
.login__submit,
.registr__submit {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    padding: 9px 15px;
    align-self: start;
    margin: 10px 0px;
}
.registr__menu-string {
    display: flex;
    gap: 10px;
    align-self: start;
}
.registr__menu-string p {
    color: #000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.registr__menu-string a {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration-line: underline;
    cursor: pointer;
}
.registr__close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.login__container {
    position: fixed;
    z-index: 20;
    width: 250px;
    height: 262px;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.profile__container {
    position: fixed;
    z-index: 20;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row;
    background: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.username__container {
    height: 100%;
    width: 170px;
    flex-shrink: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.username__container_initials {
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
    background-color: #FFF;
    padding: 30px;
}
.username__container_username {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
    background-color: #FFF;
    padding: 5px 15px;
    margin: 0px 25px;
    text-align: center;
}
.userdata__container {
    padding: 40px 20px;
}
.userdata__container h2 {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 50% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.userdata__container_data {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 20px;
}
.userdata__container_dataSmall {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 20px;
}
.userdata__container_dataElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.userdata__container_dataElement_title{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
}
.userdata_small {
    font-size: 10px;
}
.userdata__container_dataElement_data{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 200% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}
.userdata__container h3 {
    color: #0C0C0E;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 80% */
    margin-bottom: 30px;
}
.userdata__bookslist {
    max-height: 50px;
    list-style-type: disc;
    list-style-position: inside;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    overflow-y: scroll;
}
.userdata__card {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.userdata__card_title {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}
.userdata__card_number {
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}
.userdata__close {
    position: absolute;
    right: 25px;
    top: 25px;
}
.curdBuy__container {
    position: fixed;
    z-index: 20;
    width: 650px;
    height: 540px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.curdBuy__container_title{
    width: 650px;
    height: 60px;
    flex-shrink: 0;
    background: #0C0C0E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.curdBuy__container_title h2{
    color: #FFF;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 50% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.curdBuy__closeBtn{
    position: absolute;
    right: 20px;
    top: 25px;
    color: #FFF;
}
.curdBuy__formContainer_content{
    display: flex;
    flex-direction: row;
    margin: 30px 40px 40px 40px;
    gap: 40px;
}
.curdBuy__formContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.curdBuy__formContainer_inputContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.curdBuy__formContainer_input{
    width: 200px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid #BB945F;
    margin-top: 10px;
}
.curdBuy__formContainer_inputShort{
    width: 45px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid #BB945F;
    margin-top: 10px;
}
.curdBuy__formContainer_label{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: column;
}
.curdBuy_label{
    margin-top: 10px;
}
.curdBuy__container_form{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 10px;
    align-items: end;
}
.curdBuy__container__submit{
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 27px;
    border: #0C0C0E solid 1px;
}
.curdBuy__container_form p{
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.curdBuy__container_text{
    color: #8E8E8E;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 2px;
}
.menu__h2 {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    margin-top: 5px;
}
.menu__hr {
    width: 40px;
    height: 1px;
    color: #BB945F;
    margin-bottom: 15px;
}
.menu__a {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    margin-bottom: 10px;
    cursor: pointer;
}
.section {
    margin: 0 20px;
}
.hero {
    max-width: 1440px;
    height: 600px;
    position: relative;
}
.hero__div {
    height: 600px;
    inset: 0px;
    position: absolute;
}
.gradient {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    justify-content: space-between;
    align-items: center;
    height: 300px;
    display: flex;
    position: relative;
}
.container__h2 {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    opacity: 1;
    background-color: rgb(12 12 14);
    justify-content: center;
    flex-shrink: 0;
    width: 600px;
    height: 220px;
    display: flex;
    z-index: 10;
    top: 220px;
    position: absolute; 
}
.container__h2 h2 {
    opacity: 1;
    color: rgb(255 255 255);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Forum';
    margin-top: auto;
    margin-bottom: auto;
    line-height: 50px;
    font-weight: 400;
}
.main__h2 {
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Forum';
    text-align: center;
    margin-top: 20px;
    margin-bottom: 17px;
    font-weight: 400;
}
.main__hr {
    background-color: rgb(0 0 0);
    border-width: 0px;
    width: 50px;
    height: 1px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.main__p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 40px;
}
.about__photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about__photo-container {
    height: 560px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}
.about__photo-wrapper {
    gap: 25px;
    display: flex;
    position: absolute;
    transition: all 0.5s ease-out;
}
.img__container {
    position: relative;
    display: block;
    min-width: 450px;
    max-height: 560px;
}
.about__radio-container {
    justify-content: center;
    display: flex;
    margin-top: 35px;
    margin-bottom: 50px;
    list-style-type: none;
}
.radio-input {
    position: relative;
    appearance: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.radio-input::before {
    position: absolute;
    content: "";
    top: 5px;
    right: 5px;
    background-color: #0C0C0E;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.radio-input:checked:before {
    background-color: rgb(187 148 95);
}
.favorites__p {
    margin-left: 2px;
    font-size: 20px;
    font-weight: 700; 
}
.book_section {
    position: relative;
}
.favorites__ul {
    position: inherit;
    top: 30px;
    justify-content: flex-start;
    display: flex;
    margin: 40px 0px;
    gap: 54px;
    background-color: #FFF;
    z-index: 20;
}
.favorites__ul li {
    width: 140px;
}
.favorites__label {
    margin-left: 17px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.favorites__input {
    position: relative;
    appearance: none;
    border: 2px solid black;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background-color: #FFF;
    cursor: pointer;
}
.favorites__input:checked {
    background-color: #0C0C0E;
    appearance: none;
    border: 2px solid black;
    border-radius: 50%;
    width: 17px;
    height: 17px;
}
.favorites__input:checked + label {
    font-weight: 700;
}
.favorites__input:before {
    position: absolute;
    content: "";
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    width: 13px;
    height: 13px;
}
.favorites__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 57px;
    justify-content: space-between;
    margin-right: 40px;
}
.article{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    padding: 15px 20px;
    position: relative;
    transition: all 1s ease-in-out;
}
.opacity{
    opacity: 0;
}
.article h3 {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 18px;
}
.article h3:after {
    position: absolute;
    content: '';
    left:0px;
    bottom:3px;
    width: 60px;
    height: 1px;
    background: #BB945F;
}
.article h4 {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.article h5 {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.article p {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 355px;
}
.article img {
    position: absolute;
    bottom: -1px;
    right: -41px;
}
.article-btn {
    position: absolute;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 27px;
    border: 1px solid #000;
    bottom: 15px;
    transition: all 0.5s ease-out;
}
.article-btn:hover {
    background-color: #BB945F;
    border: 1px solid #BB945F;
}
.own{
    position: absolute;
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 27px;
    border: 1px solid #BB945F;
    bottom: 15px;
    cursor: default;
}
.shop__p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.shop__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.shop__conteiner-coffee {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:40px;
}
.shop {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.coffee__price {
    display: flex;
    width: 438px;
    justify-content: space-between;
}
.drink{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.price:before {
    position: absolute;
    content: '';
    right: 90px;
    bottom:20px;
    width: 100px;
    height: 1px;
    background: #BB945F;
}
.price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
}
.shop__conteiner-desserts{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:40px;
}
.cakes__price {
    display: flex;
}
.cakes{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-right: 215px;
}
.contacts__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.contacts__h3{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.contacts__list {
    margin-bottom: 40px;
}
.contacts__list a {
    transition: all 0.5s ease-out;
}
.contacts__list a:hover {
    color: #BB945F;
}
.contacts li {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.contacts__p-bold{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.contacts__p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.contacts__p a {
    transition: all 0.5s ease-out;
}
.contacts__p a:hover {
    color: #BB945F;
}
.cards__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 21px;
}
.card__find-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 453px;
    align-items: center;
    position: relative;
}
.card__find-container h3 {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 29px;
}
.card__find-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #BB945F;
    padding: 15px;
    width: 100%;
    height: 100%;
}
.form__container {
    padding: 20px 20px 0px 20px;
    background-color:#BB945F;
    width: 100%;
    height: 100%;
}
.form__container p {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}
.form__container input {
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    width: 100%;
    margin-bottom: 23px;
    padding: 8px 20px;
    border-radius: 10px;
}
#form__container-p {
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    width: 400px;
    margin-bottom: 23px;
    padding: 8px 20px;
    border-radius: 10px;
    color: #BB945F;
    background-color: #FFF;
}
.submit__btn {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin: 20px 0px 7px 0px;
    padding: 10px 40px;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    transition: all 0.5s ease-out;
}
.submit__btn:hover {
    background-color: #BB945F;
    border: 1px solid #BB945F;
}
.card__get{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.card__get h4{
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}
.card__get p {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    max-width: 456px;
    margin-top: 31px;
    margin-bottom: 31px;
}
.card__container-btn {
    display: flex;
    gap:20px;
}
.card__container-btn button{
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 17px;
    border: 1px solid #0C0C0E;
    margin-top: 5px;
    transition: all 0.5s ease-out;
}
.card__container-btn button:hover{
    background-color: #BB945F;
    border: 1px solid #BB945F;
}
.footer {
    background: #0C0C0E;
    padding: 20px;
}
.footer__library {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.footer__library a{
    width: 229px;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.5s ease-out;
}
.footer__library a:hover{
    color: #BB945F;
}
.footer__library p {
    text-align: end;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.footer__links ul {
    display: flex;
    gap:15px;
}
.footer__links p {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.footer__links svg {
    fill: #FFF;
    transition: all 0.5s ease-out;
}
.footer__links svg:hover {
    fill: #BB945F;
}
.footer__user ul{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 22px;
}
.footer__user li {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}
.footer__user a:hover {
    transition: all 0.5s ease-out;
}
.footer__user a:hover{
    color: #BB945F;
}
.menu{
    display: none;
}
.toggler {
    display: none;
}
.slider__btn{
    display: none;
}
.slider__btn :hover{
    color: #BB945F;
}
.btn__left {
    margin-right: 58px;
    cursor: pointer;
}
.btn__right {
    margin-left: 58px;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .favorites__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts__container{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap:100px;
    }
    .contacts__container img {
        margin: 0px auto;
    }
}
@media (max-width: 1024px) {
    .about__photo-container {
        max-width: 925px;
    }
    .nav{
        display: none;
    }
    .nav__img {
        margin-right: 85px;
    }
    .shop__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .cards__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card__get {
        align-items: center;
    }
    .card__get p {
        text-align: center;
        max-width: 600px;
        margin-top: 40px;
    }
    .toggler{
        display: block;
        z-index:10;
        height: 45px;
        width: 45px;
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: pointer;
        opacity: 0;
    }
    .hamburger{
        position: absolute;
        top: 35px;
        right: 20px;
        height: 20px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger > span{
        box-sizing: border-box;
        position: relative;
        top: 0;
        left: 0;
        background: white;
        height: 2px;
        width: 45px;
        transition: all  0.4s ease;
    }
    .hamburger > span::before,
    .hamburger > span::after{
        content: '';
        position: absolute;
        top: -10px;
        background: white;
        width: 100%;
        height: 2px;
        transition: all  0.4s ease;
    }
    .hamburger > span::after{
        top: 10px;
    }
    .toggler:checked + .hamburger > span{
        background: rgba(0,0,0,0);
    }
    .toggler:checked + .hamburger > span::before{
        top: 0;
        transform: rotate(45deg);
    }
    .toggler:checked + .hamburger > span::after{
        top: 0;
        transform: rotate(135deg);
    }
    .menu{
        display: block;
        position: fixed;
        z-index: 20;
        top: 90px;
        right: -900px;
        background: #0C0C0E;;
        height: 470px;
        width: 332px;
        transition: all 0.6s ease;
    }
    .toggler:checked ~ .menu {
        right: 0px;
        position: absolute;
    }
    .menu > ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        gap: 30px;
    }
    .menu > ul > li > a{
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 250% */ 
    }
    .toggler:checked ~ .menu > ul{
        transition: visibility 0.4s ease;
        transition-delay: 0.1s;
        visibility: visible;
    }
    .toggler:checked ~ .menu > ul > li > a:hover{
        color: #BB945F;
    }
    .menu__registr {
        right: 100px;
    }
}
@media (max-width: 768px ) {
    .about__photo-container {
        width: 450px;
    }
    .about__photo-container-min {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 58px;
    }
    .about__photo-container-min span {
        cursor: pointer;
        margin-top: 35px;
    }
    .slider__btn {
        display: block;
    }
    .favorites__ul{
        position: sticky;
    }
}
@media (max-width: 685px ){
    .favorites__ul{
        flex-wrap: wrap;
        justify-content: center;
    }
}